<%= render "layouts/menu" %>

<div class="container-fluid">
   <h1>Crear Cliente</h1>   

  <%= form_for [:admin, @client] do |f| %> <!-- Sends to admin/clients#create-->
      <p> <%= f.label :name %> <%= f.text_field :name %></p>
      <p> <%= f.label :email %> <%= f.text_field :email %> </p>
      <p> <%= f.label :password %> <%= f.text_field :password %> </p>
      <p> <%= f.label :contacto %> <%= f.text_field :contacto %></p>
      <p> <%= f.label :celular %> <%= f.text_field :celular %></p>
      <p> <%= f.label :telefono %> <%= f.text_field :telefono %></p>
      <p> <%= f.label :comentarios %> <%= f.text_field :comentarios %></p>
      <p> <%= f.label :direccion %> <%= f.text_field :direccion %></p>
      
      <p> <%= f.label :pais %> <%= f.text_field :pais %></p>
      <p> <%= f.label :ciudad %> <%= f.text_field :ciudad %></p>
      <p> <%= f.label :logo %> <%= f.text_field :logo %></p>

      <%= f.submit "Crear", :class => "btn btn-primary" %>

   <% end %>

   <%= link_to "Home", root_path,:class => "btn btn-default" %>


</div>


