
<h2>Welcome to Kontest</h2>

<h3>Esta es su mejor aplicacion para hacer rifas y promocionar sus productos</h3>

   <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<p>Log in as:</p>
<li> <%= link_to "User", user_session_path, :class => "btn btn-default" %> </li>
<li> <%= link_to "Cliente", client_session_path, :class => "btn btn-default" %> </li>
<li><%= link_to "Admin", admin_session_path, :class => "btn btn-default" %></li>

