<br>

<% if @kontest.errors.any? %>
   <% @kontest.errors.full_messages.each do |error|%>
   <p class="text-danger">
      <%= error%>
   </p>
   <% end %>
<% end %>



<div class="container-fluid">
   
   <div class="col-sm-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Editar Kontest</h3>
         </div>
         <div class="panel-body">
            <%= form_for [ @kontest] do |f| %>
               
               <%= f.label :clientname, "Nombre del Cliente" %> <%= f.text_field :admin, :value => @client.name, :disabled => true, :class => "form-control"  %>
               <%= f.label :clientcode, "Codigo del Kontest" %> <%= f.text_field :admin, :value => @kontest.kontestcode, :disabled => true, :class => "form-control"  %>
               <%= f.label :admin, "Creado por: " %> <%= f.text_field :admin, :value => @admin.email, :disabled => true, :class => "form-control"  %>
               <%= f.label :amountwinners, "Cantidad de Ganadores" %> <%= f.text_field :amountwinners, :value => @kontest.amountwinners, :disabled => true, :class => "form-control"  %>
               <%= f.label :amountcodes, "Cantidad de Codigos" %> <%= f.text_field :amountcodes, :value => @kontest.amountcodes, :disabled => true, :class => "form-control"  %>
               <%= f.label :award, "Descripcion del Premio" %> <%= f.text_field :award, :class => "form-control"  %>
               <br>
               <%= f.label :startdate, "Fecha de Inicio" %> <%= f.date_select :startdate , {:order => [:day, :month, :year], :include_blank => true, :start_year => Date.current.year + 3, :end_year => Date.current.year,:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} ,:class => "form-control", :style => "width:50px; display: inline;" %>
               <br>
               <%= f.label :enddate, "Fecha de Finalizacion" %> <%= f.date_select :enddate , {:order => [:day, :month, :year], :include_blank => true, :start_year => Date.current.year + 3, :end_year => Date.current.year,:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} ,:class => "form-control", :style => "width:50px; display: inline;" %>

               <%= f.submit "Aceptar Cambios", :class => "btn btn-primary" %> 
               
            <% end %>
                
               
              
         </div> <!--Panel-body -->
      </div>  <!--Panel-default -->
   </div> <!-- Col sm 6 -->

   
  

   <%= link_to "Inicio", root_path,:class => "btn btn-default" %>


</div>   <!-- Container -->