<h1>Kontests#index</h1>


<% @kontests.each do |kontest| %>
   <p> Nombre: <%= link_to kontest.clientname, kontest_path(kontest) %> - 
    Code: <%= kontest.clientcode %></p>
<% end %>

<li><%= link_to "Home", root_path, :class => "btn btn-default" %></li>
<li><%= link_to "Nuevo Kontest", new_kontest_path, :class => "btn btn-default" %></li>
<li><%= link_to "Administracion", "/admin" , :class => "btn btn-default" %></li>