<h1>Kontests#show</h1>




<p>Cliente: <%= @kontest.clientname %></p>
<p>Codigo del Cliente: <%= @kontest.clientcode %></p>
<p>Creado por: <%= @kontest.admin %></p>
<p>Cantidad de Ganadores: <%= @kontest.amountwinners %></p>
<p>Cantidad de Codigos: <%= @kontest.amountcodes %></p>
<p>Premio: <%= @kontest.award %></p>
<p>Fecha de Inicio: <%= @kontest.startdate %></p>
<p>Fecha de Finalizacion: <%= @kontest.enddate %></p>

<br>

<% @unicodes.each do |unicode| %>
   <p><%= unicode.id %> - <%= unicode.clientcode %> - <%= unicode.secuence %> - <%= unicode.winner %></p>
<% end %>

<%= link_to "Edit", edit_kontest_path(@kontest), :class => "btn btn-default" %>
<%= link_to "Cliente", client_path(@client), :class => "btn btn-default" %>